0-mesh/3-get_mesh.sh
0-mesh/Claude_splines.py
0-mesh/Contour2geo.py
0-mesh/aletsch* 
1-dem/alemesh
1-dem/fix-ubed.ipynb
1-dem/inv-shp/*vtu
1-dem/inv-shp/inv-shp.result*
2-steady/inv*
2-steady/aletsch_steady_state*
3-exp/2*
!3-exp/2900
3-exp/2900/*vtu
3-exp/2900/aletsch_2900*
3-exp/2900/aletsch_steady_state*
3-exp/2900/aletsch_ss_cont*
3-exp/3* 
3-exp/ela_exp.log
3-exp/steady-state*
SRC/*so
.gitignore
